$scale: 1.4;
$color: 'fc039d' 'ff4d3f' 'fda601' 'fff001' '010101' '00b282' '004bfe' 'c9c9c9' '8efbf6' '79d1b9' 'bb18fd' 'ffffcd' 'fdcdb7' '993400' '966b5a' 'fca7a4' 'eb2429' '2b5e7d' '4b495e' 'e6d23f' '626262' '63b00c' '63f5c4' '17baf3';


page {
  height: 100%;
}
.index {
  height: 100%;
  width: 100%;
  background-color: #eee;
}
.icos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px/$scale;
  height: 115px/$scale;
  font-size: 26px;
  background: #eee;
  color: #da0289;
}
.painterWrapper {
  display: flex;
  align-items: center;
}
.painter {
  margin-right: 22px/$scale;
}
.topic {
  margin-left: 18px/$scale;
}
.player {
  display: flex;
  align-items: center;
}
.tool, .colors {
  display: flex;
  justify-content: space-between;
  padding-left: 24px/$scale;
  height: 108px/$scale;
}
.lineWidth {
  display: flex;
  align-items: center;
  width: 490px/$scale;
  font-size: 32px;
}
.slider {
  flex: 1;
}
.operate {
  display: flex;
  align-items: center;
  padding-right: 30px/$scale;
  font-size: 28px;
}
.ico {
  display: flex;
  align-items: center;
  margin-left: 10px/$scale;
  padding-right: 14px/$scale;
  height: 60px/$scale;
}

.activeIco {
  background-color: #fff;
  border-radius: 40px/$scale;
}

.colors {
  align-items: center;
  height: 80px/$scale;
  font-size: 32px;
}

.color {
  position: relative;
  display: inline-block;
  margin-right: 40px/$scale;
  width: 80px/$scale;
  height: 80px/$scale;
  border-radius: 4px/$scale;
}
.color:after {
  position: absolute;
  bottom: -10px/$scale;
  content: '';
  display: block;
  height: 6px/$scale;
  transition: .3s;
}

@include author-images  /*色块选中样式以及动画*/

@mixin author-images {
  @each $author in $color {
    .color-#{$author}:after {
      background: #{'#'+$author};
      animation:mymove .5s normal forwards; /*Safari and Chrome*/
    }
  }
}

@keyframes mymove
{
  from {
    width:0;
    left: 50%;
  }
  to {
    width:100%;
    left: 0;
  }
}

.colorsScroll {
  display: flex;
  flex: 1;
  padding-left: 48px/$scale;
  overflow: hidden;
  white-space: nowrap;
}
.scrollTip {
  display: block;
  margin-top: 25px/$scale;
  width: 100%;
  font-size: 20px;
  text-align: right;
  color: #999;
}
.btn {
  margin: 35px/$scale 80px/$scale 0;
  border: none;
  color: #333;
  background-color: #fff017;
}
.btn:after{
  border: none;
}
